.git
.venv
venv
env
__pycache__
*.py[cod]
.ipynb_checkpoints
.vscode
.idea
Power_BI
documentacion
notebooks
src/notebooks
src/Data
*.ipynb
.env
*.log
/als_model.npz
/artifacts.pkl
/basket_matrix.npz
/train_matrix.npz
