# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Logs
*.log

# Archivos temporales
*.tmp
*.bak